.select {
  background-color: none;
  color: #ac00c8;
  background: none;
  padding: 0.2rem;
  margin-left: 10px;
  border: 1px solid #ac00c8;
  outline: none;
  border-radius: 4px;
}

.select_option {
  background-color: #ac00c8;
  color: white;
}
