.pager_container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  padding: 0rem 1rem;
}

.pager_currency {
  color: #ac00c8;
}

.button_next,
.button_back {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.button_next:hover,
.button_back:hover {
  opacity: 50%;
  transition: 200ms;
}

.button_back:disabled {
  opacity: 20%;
  cursor: not-allowed;
}
